.button {
  width: $button-width;
  height: $button-width;
  box-shadow: $box-shadow-value;
  background-color: #fff;
  color: black;
  font-size: 16px;
  background: no-repeat center url("../../assets/icons/arrow-left.svg");
  cursor: pointer;

  @include hoverScale;

  &--like {
    background: no-repeat center url("../../assets/icons/hart--gray.svg");
  }

  &--like-filled {
    background: no-repeat center url("../../assets/icons/hart--red.svg");
  }
}

