.my-comments {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
  max-width: 1200px;

  &__cafe {
    grid-column: span 2;
  }

  &__content {
    grid-column: span 4;
  }

  &__buttons {
    grid-column: span 2;
  }
}
